.app-header{

    display: flex;
    justify-content: space-between;
background-color: rgb(0, 230, 153);
align-items: center;
    text-align:center
    
}

.nav-sig{
    display: flex;
    

}
.singin{
    margin:10px
}
.siginup{
    margin:10px
}
.nav-search{
    display: flex;
}